#body
{
    margin: 0px ;
    padding: 0px;
}
.navbar
{
    height: 70px;
    margin: 0px;
    padding: 0px;
}
.Background_img
{
 height: 350px;
 width: 100%;
margin: 0px;
position: relative;
}
.sidegirl_img
{
    position: absolute;
    right: 10px;
    height: 350px;
}
.img4_img{
    position: absolute;
    right: 564px;
    height: 60px;
}
.blackarc
{
    position: absolute;
    right: 566px;
  height:158px;

}
.hexagon
{
    position: absolute;
    right: 448px;
    height:64px;
    top: 291px;
}
.sleepingline
{
    position: absolute;
    right: 375px;
    height:79px;
    top: 346px;   
}
.Arrow
{
    position: absolute;
    right: 480px;
    height:10px;
    top: 405px;   
}
.Greyline
{
   position:absolute;   
   left: 0px;
   height: 130px;
   top:295px;
}
.dots
{
    position:absolute;   
   left: 40px;
   height: 180px;
   height: 40px;
   top:185px;
}
.heading
{
    height: 400px;
    width: 500px;
    /* border:1px solid black; */
    position: absolute;
    font-family: 'Montserrat';
    font-size: 25px;
    position: absolute;
    right: 880px;
    height:10px;
    color:  #000000;
    ;

    top: 85px;   
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
    font-weight: 900;
    align-items: justify;
  font-style: normal;

}
.heading h1 span {
    color:  #FFB800;
    ;
}
.subheading
{
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    /* line-height: 22px; */
    text-align: left;
    position: absolute;
    right: 750px;
    height:10px;
    top: 280px;   
    text-align: start;
}
/* middel body css */
.Middel_body_conatiner
{
    margin: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.middel_heading
{
    width: 744px;
    /* border: 1px solid black; */
height: 106px;
top: 653px;
left: 216px;
gap: 0px;
margin-left: 120px;
opacity: 0px;
}
.M_heading
{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  line-height:28px;
  color:  #000000;
 
}
.M_subheading
{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  line-height:28px;
  color:  #000000;
}
.M_subheading span{
    color:  #FFB800;

}
.paraheading
{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 27.2px;
text-align: left;
margin-left: 2px;

}
.ALLpointsdiv
{
    margin-left: 10px;
}
.points_div
{
    display: flex;
    gap: 10px;
    align-items: start;

}
.points_content
{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 27.2px;
text-align: left;

}
.middelfrom
{
   height: 600px;
   width: 530px;
   border: 2px solid #C0C0C0;
   border-radius: 8px;
   background-color:  #FFFFFF;
   ;
    /* border: 1px solid black; */

    
}
.fromheading
{
    margin: 10px 20px;

}